.countryCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  gap: 1em;

  width: 264px;
  height: 336px;
  margin: 1em auto;
  box-shadow: 0px 4px 4px #f0f0f0;

  .countryCardFlag {
    width: 100%;
    height: 160px;
  }

  .countryCardContent {
    display: flex;
    flex-direction: column;
    gap: 1em;

    padding: 0 1em;

    h3 {
      font-weight: 800;
    }

    .countryCardInfo {
      display: flex;
      flex-direction: column;
      gap: 0.5em;

      h4 {
        font-weight: 600;

        .countryDetails {
          font-weight: 300;
        }
      }
    }
  }
}
